# Exclude IDE specific files
.vscode
**/.vscode
.editorconfig
**/.editorconfig

# Exclude backend pycache (will be created in entrypoint)
backend/__pycache__
backend/**/__pycache__

# Exclude frontend node_modules (will be created during build stage)
frontend/node_modules

# Exclude frontend env files (will be created during build stage)
frontend/.env.*

# Exclude frontend dev server runner script
frontend/run-devserver.sh
