@mixin prevent-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  shape-rendering: geometricPrecision;
}

html, body {
  font-family: "GyeonggiTitle", sans-serif;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;

  background-image: url(@/assets/images/BG_AronaRoom.jpeg);
  background-size: cover;
  background-position: center;
}

.momotalk-wrapper {
  $momotalk-title-height: 3.25rem;
  $momotalk-left-tab-width: 4.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.33);

  .momotalk-container {
    position: relative;
    width: 80vw;
    height: 40vw;
    min-height: 350px;
    border-radius: 0.5rem;
    overflow: hidden;

    background: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);

    //transition: width 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1);

    .title-container {
      @include prevent-user-select;

      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      height: $momotalk-title-height;
      padding: 0 1rem;

      background-color: #7DBDED;

      z-index: 2;

      .title {
        font-weight: 700;
        font-size: 1.66rem;

        color: white;
      }

      .title-icons-container {
        flex-shrink: 0;
      }
    }

    .content-container {
      display: flex;
      flex-direction: row;
      height: calc(100% - $momotalk-title-height);
      font-size: 16px;

      .left-tab {
        @include prevent-user-select;

        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        width: $momotalk-left-tab-width;
        background-color: #4C5B70;

        .tab {
          cursor: pointer;
          width: 100%;
          height: $momotalk-left-tab-width;
          padding: 1rem;

          transition: background-color 0.25s;

          &.router-link-active,
          &:hover {
            background-color: #637790;

            img {
              opacity: 1;
            }
          }

          img {
            width: 100%;
            height: 100%;
            opacity: 0.5;

            transition: opacity 0.25s;
          }
        }
      }

      .content-wrapper {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% - $momotalk-left-tab-width);
        padding: 0 1rem 1rem 1rem;
        font-size: 1.1rem;

        z-index: 1;

        & > * {
          width: 100%;
        }

        .chat-container {
          padding: 0 0.5rem;
          flex-grow: 1;
          overflow: auto;

          &::-webkit-scrollbar {
            width: 0;
          }

          .chat-item {
            display: flex;
            align-items: flex-start;
            padding: 1rem 0;

            &.user {
              justify-content: flex-end;

              .chat-balloon .chat-balloon-content {
                background-color: #FB93A4;
              }
            }

            &.mollu {
              justify-content: flex-start;

              & > div {
                display: flex;
                flex-direction: row;

                .profile-image {
                  @include prevent-user-select;

                  width: 48px;
                  height: 48px;
                  border-radius: 100%;
                }

                .chat-balloon-wrapper {
                  display: flex;
                  flex-direction: column;
                  margin-left: 0.5rem;

                  .profile-name {
                    @include prevent-user-select;
                  }

                  .chat-balloon {
                    margin-top: 0.25rem;

                    .chat-balloon-content {
                      flex-grow: 1;
                      background-color: #4C5B70;
                      margin-right: 0.5em;
                    }

                    button {
                      cursor: pointer;

                      width: 2.5em;
                      height: 2.5em;
                      padding: 0.5em;

                      text-align: center;
                      background-color: rgba(254, 254, 254, 0.66);
                      backdrop-filter: blur(4px);
                      border: solid 2px #FB93A4;
                      border-radius: 0.5em;
                    }
                  }
                }
              }
            }

            .chat-balloon {
              display: flex;
              align-items: flex-start;

              .chat-balloon-content {
                padding: 0.5rem;
                color: white;
                border-radius: 0.5rem;
              }
            }
          }
        }

        .input-container {
          $input-height: 36px;

          display: flex;
          flex-direction: row;
          align-items: center;

          & * {
            font-family: inherit;
            font-size: inherit;
          }

          .input-area-wrapper {
            display: flex;
            flex-grow: 1;
            flex-direction: row;
            align-items: center;

            button {
              width: $input-height;
              margin-top: initial !important;
              margin-left: initial;
              margin-right: 0.5rem;
              padding: 0.25rem;
            }

            input {
              flex-grow: 1;
              min-width: 0;
              height: $input-height;
              padding: 0 0.75rem;

              background-color: rgba(254, 254, 254, 0.66);
              backdrop-filter: blur(4px);
              border: solid 2px #FB93A4;
              border-radius: $input-height;

              &:focus-visible {
                outline: none;
              }
            }
          }

          button {
            &, & * {
              @include prevent-user-select;
            }

            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            height: $input-height;
            padding: 0.5rem;
            margin-left: 0.5rem;
            text-align: center;

            border: none;
            border-radius: 0.5rem;
            background-color: #FEFEFE;
            backdrop-filter: blur(4px);
            box-shadow: 0 0.125rem 0.25rem rgba(251, 147, 164, 1);

            transition: box-shadow 0.15s cubic-bezier(0, 0, 0, 1), background-color 0.25s;

            &:disabled {
              cursor: initial;
              color: rgba(0, 0, 0, 0.33);

              & > img {
                filter: opacity(0.33);
              }
            }

            &:not(:disabled) {
              &:active {
                box-shadow: 0 0.05rem 0.125rem rgba(251, 147, 164, 1),
                            0 0.1rem 0.2rem rgba(251, 147, 164, 1) inset;
              }

              &:hover {
                background-color: rgb(255, 240, 243);
              }
            }
          }
        }

        .settings-container {
          padding-top: 1rem;
        }
      }
    }

    .container-background-image {
      @include prevent-user-select();
      pointer-events: none;

      position: absolute;
      right: 0;
      bottom: 0;
      max-width: calc(80vw - $momotalk-left-tab-width);
      height: 75%;
      max-height: calc(80vw - $momotalk-left-tab-width);
      opacity: 0.2;
      z-index: 0;

      &.anim {
        animation-name: mollu-loop;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: steps(2, jump-none);
      }
    }
  }
}

@media (max-width: 750px), (max-height: 450px) {
  #app {
    background-image: none;
  }

  .momotalk-wrapper {
    .momotalk-container {
      width: 100%;
      height: 100%;
      border-radius: 0;

      .content-container {
        .content-wrapper {
          .input-container {
            flex-direction: column;

            & > * {
              width: 100%;
            }

            button {
              margin-left: initial;
              margin-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1250px) {
  .momotalk-wrapper {
    .momotalk-container {
      .content-wrapper {
        font-size: 1.25rem !important;
      }
    }
  }
}
