@font-face {
  font-family: "GyeonggiTitle";
  src: url("../assets/fonts/GyeonggiTitle_Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GyeonggiTitle";
  src: url("../assets/fonts/GyeonggiTitle_Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GyeonggiTitle";
  src: url("../assets/fonts/GyeonggiTitle_Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
