* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  shape-rendering: geometricPrecision;
}

html, body {
  font-family: "GyeonggiTitle", sans-serif;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

.momotalk-wrapper {
  $momotalk-title-height: 3.25rem;
  $momotalk-left-tab-width: 4.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  .momotalk-container {
    position: relative;
    width: 80vw;
    height: 40vw;
    min-height: 350px;
    border-radius: 0.5rem;
    overflow: hidden;

    box-shadow: 0 0.3rem 0.75rem rgba(0, 0, 0, 0.25);

    transition: width 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1);

    .title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      -webkit-user-drag: none;

      width: 100%;
      height: $momotalk-title-height;
      padding: 0 1rem;

      background-color: #7DBDED;

      .title {
        font-weight: 700;
        font-size: 1.66rem;

        color: white;
      }

      .title-icons-container {
        flex-shrink: 0;
      }
    }

    .content-container {
      display: flex;
      flex-direction: row;
      height: calc(100% - $momotalk-title-height);
      font-size: 16px;

      .left-tab {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        width: $momotalk-left-tab-width;
        background-color: #4C5B70;

        .tab {
          cursor: pointer;
          width: 100%;
          height: $momotalk-left-tab-width;
          padding: 1rem;

          transition: background-color 0.25s;

          &.active,
          &:hover {
            background-color: #637790;

            img {
              opacity: 1;
            }
          }

          img {
            width: 100%;
            height: 100%;
            opacity: 0.5;

            transition: opacity 0.25s;
          }
        }
      }

      .content-wrapper {
        font-size: 1.1rem;
        width: calc(100% - $momotalk-left-tab-width);
        padding: 0 1rem;

        .chat-item {
          display: flex;
          align-items: flex-start;
          padding: 1rem 0;

          &.user {
            justify-content: flex-end;

            .chat-balloon {
              background-color: #FB93A4;
            }
          }

          &.mollu {
            justify-content: flex-start;

            .profile-image {
              width: 48px;
              height: 48px;
              border-radius: 100%;
            }

            .chat-balloon-wrapper {
              display: flex;
              flex-direction: column;
              margin-left: 0.5rem;

              .chat-balloon {
                margin-top: 0.25rem;
                background-color: #4C5B70;
              }
            }
          }

          .chat-balloon {
            padding: 0.5rem;
            color: white;
            border-radius: 0.5rem;
          }
        }
      }
    }

    .container-background-image {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: calc(80vw - $momotalk-left-tab-width);
      height: 75%;
      max-height: calc(80vw - $momotalk-left-tab-width);
      opacity: 0.2;
      z-index: -1;
    }
  }
}

@media (max-width: 750px) {
  .momotalk-wrapper {
    .momotalk-container {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
}

@media (min-width: 1250px) {
  .momotalk-wrapper {
    .momotalk-container {
      .content-wrapper {
        font-size: 1.25rem !important;
      }
    }
  }
}
