@keyframes mollu-loop {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

.slide-up {
  &-enter-active,
  &-leave-active {
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1), opacity 0.5s cubic-bezier(0, 0, 0, 1);
  }

  &-enter-from,
  &-leave-to {
    transform: translateY(-50%);
    opacity: 0;
  }

  &-enter-to,
  &-leave-from {
    transform: translateY(0);
    opacity: 1;
  }
}
